<div class="row-fluid" id="nowbedtime">
	<div class="span12">
		<h5 style="text-align: center">
			The time now is <strong class="now"></strong>
		</h5>
		<h5 style="text-align: center">
			It takes <strong>fourteen minutes</strong> to fall asleep on average. You should try to wake up at one of the following times:
		</h5>
		<h5 style="text-align: center" id="times">
			<strong class="slot1"></strong> or
			<strong class="slot2"></strong> or
			<strong class="slot3"></strong> or
			<strong class="slot4"></strong> or
			<strong class="slot5"></strong> or
			<strong class="slot6"></strong>
		</h5>
	</div>
</div>

<div class="row-fluid" id="bedtime">
	<div class="span12">
		<h5>I want to go to bed at this time</h5>
		<input id="time" type="time"></input>
		<h5>Okay! Aim to go to bed for one of the following times.</h5>
		<h5 style="text-align: center" id="bottomtimes">
			<strong class="bottomslot1"></strong> or
			<strong class="bottomslot2"></strong> or
			<strong class="bottomslot3"></strong> or
			<strong class="bottomslot4"></strong> or
			<strong class="bottomslot5"></strong> or
			<strong class="bottomslot6"></strong>
		</h5>
	</div>
</div>

<div class="row-fluid" id="button">
	<div class="span12">
		<button id="bedtime-button" class="btn btn-success">I know my bed time</button>
	</div>
</div>
<div class="row-fluid" id="watch">
	<div class="span12">
	<iframe src="http://ghbtns.com/github-btn.html?user=robinduckett&repo=sleeptime&type=watch&count=true"
	  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
	</div>
</div>