
body
	background: #333
	overflow: hidden

html
	overflow: hidden

header
	h1
		text-align: center
		color: #fff

p, .span12
	color: #fff

#times
	color: #ddd

h5, #bedtime
	text-align: center

#bedtime
	display: none

#button
	text-align: center

.slot1, .slot2, .slot3, .bottomslot1, .bottomslot2, .bottomslot3
	color: #888

.slot4, .bottomslot4
	color: #9c6

.slot5, .bottomslot5
	color: #0c3

.slot6, .bottomslot6
	color: #0c3

#watch
	padding-top: 50px
	text-align: center